# Python
*.py[cod]
*$py.class
*.so
.Python
__pycache__/
*.egg-info/
dist/
build/

# Django
*.log
db.sqlite3
db.sqlite3-journal
/staticfiles/
/media/

# Environnement virtuel
venv/
env/
ENV/
.venv

# Variables d'environnement
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Fichiers temporaires
*.tmp
*.bak
*.cache

